{% load static %}

<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>

    <body>
        <header> 
            <nav>
                <ul>
                    <li>
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a href="{% url 'signup' %}">Sign up</a>
                        <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
        {% block content %} 
        {% endblock %}
    </body>
</html>
 